.screen {
  width: 480px;
  padding: 45px 0 35px;
  border: solid #000;
  border-width: 0 10px 10px;
  margin: 20px auto 0;
  position: relative;

  .headerLine {
    width: 100%;
    position: absolute;
    top: 0;
  }

  .header {
    position: absolute;
    text-align: center;
    font-weight: 400;
    top: -13px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    width: 100%;
  }

  .leftIcons {
    position: absolute;
    left: -70px;
  }
  .rightIcons {
    position: absolute;
    right: -70px;
  }

  .screenContainer {
    width: 390px;
    height: 478px;
    border: 5px solid;
    border-color: #987f0f #fae36c #fae36c #987f0f;
    margin: 0 auto;
    background-color: #9ead86;
    padding: 8px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
